<div class="col-md-4 col-md-offset-4">
  <h2 class="text-center">Log In</h2>
  
  <% if flash[:notice].present? %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
  <% end %>
  
  <%= form_tag :login, action: :create do %>
    <div class="form-group">
      <%= label_tag :username %>
      <%= text_field_tag :username, '', class: 'form-control input-sm' %>
    </div>
    <div class="form-group">
      <%= label_tag :password %>
      <%= password_field_tag :password, '', class: 'form-control input-sm' %>
    </div>
    <%= submit_tag "Log In", class: 'btn btn-sm btn-success' %>
    <%= link_to "Back", homes_path, class: 'btn btn-sm btn-default' %>
  <% end %>
</div>
