<div class="col-md-5">
  <h3><%= @pahlawan.name %></h3>
  <img src="<%= @pahlawan.photo %>" alt="<%= @pahlawan.name %>"/>
  <h4><%= @pahlawan.place %>, <%= @pahlawan.birth %></h4>
  <p>
    <%= @pahlawan.description %>
  </p>
</div>
